
@{
    ViewBag.Title = "Produs";
}

<p>
    PRODUCENT to dedykowany system wspomagający zarządzanie produkcją.

</p>

<p style="padding-bottom:20px">
    To rozwiązanie idywidualnie dopasowywane do potrzeb konkretnej firmy wytwórczej.

</p>

<p>
    Autorem systemu PRODUCENT jest
</p>

<div class="naglowek-Producent">
    Produs 
</div>

<div class="pod-naglowek-Producent">
    OPROGRAMOWANIE DLA PRODUKCJI
</div>


