
@{
    ViewBag.Title = "Index";
}

<h2>Kartoteki</h2>


<p>
    @Html.ActionLink("Kartoteki - Indeksy", "Index", "Indeks", null, new { @class = "link_zwykly" })
</p>
<p>
    @Html.ActionLink("Kartoteki - Rodzaje indeksów", "Index", "RodzajIndeksu", null, new { @class = "link_zwykly" })
</p>
<p>
    @Html.ActionLink("Kartoteki - Jednostki miary", "Index", "JednostkaMiary", null, new { @class = "link_zwykly" })
</p>

